{% extends 'base.html.twig' %}

{% block body %}
    <div class="px-4 mx-auto overflow-auto h-[calc(100vh-6rem)]">
        <h2 class="mb-4 text-xl font-bold text-gray-900">Mes pouvoirs</h2>
        <div class="grid gap-4 grid-cols-1 md:grid-cols-2 sm:gap-6">
            {% for power in account.superPowers %}
                <div class="flex w-full flex-col">
                    <div class="flex justify-between items-center">
                        <span class="bg-primary-100 text-primary-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-primary-500">{{ power.type }}</span>
                        <form action="{{ path('app_delete_power', {'id': power.id}) }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('deletePower') }}">
                            <button type="submit" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200">Supprimer</button>
                            <a href="{{ path('app_superpowers_edition', {'id': power.id}) }}" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center bg-primary-100 text-primary-800 border-primary-500 rounded-lg focus:ring-4 focus:ring-primary-200">Modifier</a>
                        </form>
                    </div>
                    <p class="font-semibold mb-3"> {{ power.name }}</p>
                    <p class="italic">{{ power.description|nl2br }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

