<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PowerSwap™</title>
        <link rel="shortcut icon" href="{{ asset('images/logo.svg') }}" type="image/x-icon">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="antialiased">
        <nav class="bg-white border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
            <div class="flex flex-wrap justify-between items-center">
                <div class="flex justify-start items-center">
                    <button data-drawer-target="drawer-navigation" data-drawer-toggle="drawer-navigation" aria-controls="drawer-navigation" class="border-2 border-primary-700 flex justify-center items-center p-2 mr-2 text-gray-600 rounded-lg cursor-pointer md:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100">
                        <box-icon name='menu' class="fill-primary-700"></box-icon>
                        <span class="sr-only">Toggle sidebar</span>
                    </button>
                    <span class="flex items-center justify-between mr-4">
                        <img src="{{ asset('images/logo.svg') }}" class="mr-2 h-8" alt="Power Swap Logo"/>
                        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">PowerSwap™</span>
                    </span>
                </div>
                <div class="flex items-center lg:order-2">
                    <a href="https://bff.ecoindex.fr/redirect/?url=https://lesdeadliners.lareunion.webcup.hodi.host" target="_blank">
                        <img src="https://bff.ecoindex.fr/badge/?theme=light&url=https://lesdeadliners.lareunion.webcup.hodi.host" alt="Ecoindex Badge" />
                    </a>
                    <span class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                        {% if app.user.profilePicture != "" %}
                            <img class="w-8 h-8 rounded-full" src="{{ app.user.profilePicture }}" alt="Photo de profil"/>
                        {% else %}
                            <img class="w-8 h-8 rounded-full" src="https://placehold.co/128x128?text=?" alt="Photo de profil"/>
                        {% endif %}
                    </span>
                </div>
            </div>
        </nav>

        <aside class="fixed top-0 left-0 z-40 w-64 h-screen pt-14 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidenav" id="drawer-navigation">
            <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">
                <ul class="space-y-2">
                    <li>
                        <a href="{{ path('app_trade_requests') }}" class="{{ "app_trade_requests" in app.current_route ? "sidebar--link--active" : "sidebar--link"}} group">
                            <box-icon class="{{ "app_trade_requests" in app.current_route ? "sidebar--active" : "sidebar--link--icon"}}" name='transfer'></box-icon>
                            <span class="ml-3">Échanges</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="{{ "app_trending" in app.current_route ? "sidebar--link--active" : "sidebar--link"}} group">
                            <box-icon class="{{ "app_trending" in app.current_route ? "sidebar--active" : "sidebar--link--icon"}}" type="solid" name='chat'></box-icon>
                            <span class="ml-3">Messages</span>
                        </a>
                    </li>
                </ul>
                <ul class="pt-5 mt-5 space-y-2 border-t border-gray-200">
                    <li>
                        <a href="{{ path('app_account') }}" class="{{ "app_account" in app.current_route ? "sidebar--link--active" : "sidebar--link"}} group">
                            <box-icon class="{{ "app_account" in app.current_route ? "sidebar--active" : "sidebar--link--icon"}}" type="solid" name='user-account'></box-icon>
                            <span class="ml-3">Mon compte</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_superpowers') }}" class="{{ app.current_route == "app_superpowers" or app.current_route == "app_superpowers_edition" ? "sidebar--link--active" : "sidebar--link"}} group">
                            <box-icon class="{{ app.current_route == "app_superpowers" or app.current_route == "app_superpowers_edition" ? "sidebar--active" : "sidebar--link--icon"}}" type="solid" name='hot'></box-icon>
                            <span class="ml-3">Mes pouvoirs</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_superpowers_create') }}" class="{{ "app_superpowers_create" in app.current_route ? "sidebar--link--active" : "sidebar--link"}} group">
                            <box-icon class="{{ "app_superpowers_create" in app.current_route ? "sidebar--active" : "sidebar--link--icon"}}" type="solid" name='message-square-add'></box-icon>
                            <span class="ml-3">Ajouter un pouvoir</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_trade_requests_create') }}" class="{{ "app_trade_requests_create" in app.current_route ? "sidebar--link--active" : "sidebar--link"}} group">
                            <box-icon class="{{ "app_trade_requests_create" in app.current_route ? "sidebar--active" : "sidebar--link--icon"}}" name='mail-send'></box-icon>
                            <span class="ml-3">Poster un échange</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="absolute bottom-0 left-0 justify-center p-4 space-x-4 w-full flex bg-white dark:bg-gray-800 z-20">
                <a href="{{ path('app_logout') }}" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200">Déconnexion</a>
            </div>
        </aside>

        <main class="p-4 md:ml-64 h-auto pt-20">
            {% for flash in app.flashes('success') %}
                <div class="p-4 mb-4 text-sm text-success-800 rounded-lg bg-success-100 font-semibold" role="alert">
                    {{ flash|raw }}
                </div>
            {% endfor %}
            {% for flash in app.flashes('fail') %}
                <div class="p-4 mb-4 text-sm text-error-800 rounded-lg bg-error-100 font-semibold" role="alert">
                    {{ flash|raw }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
    </div>
    </body>
</html>
